<%- include layouts/header.ejs %>

        <div class="page-data">
            <form method="post" action="/order/add">
                         <h1><%= datenow %></h1>
                <table cellpadding="11">
                <tr>
                    <td class="label">OrderNo</td><td>: <input type="text" name="OrderNo" required></td>
                 </tr>
                 <tr>              
                    <td class="label">Orderdate</td><td>: <input type="text" name="Orderdate"  value=<%= datenow %>  required></td>
                </tr>
                <tr>
                    <td class="label">TotalMoney</td><td>: <input type="text" name="TotalMoney" required></td>
                 </tr>
               <tr>
                    <td class="label" valign="top">Remark</td><td valign="top">: <textarea name="Remark" required cols="30" rows="5"></textarea></td>
                </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
